params {
    // References
    // Path to the reference genome FASTA file (required)
    fasta                      = []

    // VEP parameters
    // VEP cache directory (downloaded if not provided)
    vep_cache                  = []
    // Version of the VEP cache to use. Default is 102
    vep_cache_version          = ''
    // Directory containing VEP plugins (downloaded if not provided)
    vep_plugins                = []

    // pVACseq parameters
    // Algorithms to use for pVACseq predictions (required)
    pvacseq_algorithm          = 'all'
    extra_pvacseq_args         = ''

    // Path to IEDB directory (downloaded if not provided)
    pvacseq_iedb               = []
}


process {
    withName: ENSEMBLVEP_DOWNLOAD {
        ext.args    = '--AUTO c --CONVERT --NO_BIOPERL --NO_HTSLIB --NO_TEST --NO_UPDATE'
    }
    withName: PVACTOOLS_PVACSEQ {
        ext.args    = { "--normal-sample-name ${meta.normal_sample} -e1 9 -e2 12 -b 500" }
    }
}

