/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a pipeline test.

    Use as follows:
        nextflow run nf-core/pvacseq -profile test,<docker/conda> --outdir <OUTDIR> --fasta <PATH TO FASTA>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = 'test_data/maf'
    hla_csv = 'test_data/hla.csv'

    // pVACseq parameters
    pvacseq_algorithm          = 'all'
    pvacseq_peptide_length_i   = '9'
    pvacseq_peptide_length_ii  = '15'
}
